
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 20px;

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
  background-color: rgb(240, 236, 236);
    width: 100%;
  z-index: 10;
  height: 80px; 
  
}
navbar :hover{
    color: rgb(252, 252, 8);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: rgb(56, 55, 55);
  text-decoration: none; 
  font-size: 20px;
  display: flex;
  font-weight: bold;
}

.nav-links li a:hover {
  color: #03befd;
}

.nav-button {
    padding: 10px 20px;
    background-color: rgb(96, 155, 96);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}
.nav-button:hover {
    background-color: rgb(6, 99, 6);
}

.hero {
     margin-top: 70px;
  height: calc(100vh - 70px);
    
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
     background-image: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.hero-content {
  text-align: center;

}
.hero-button1 {
    padding: 10px 20px;
    background-color: rgb(221, 221, 221);
    color: rgb(24, 141, 38);
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    position: relative;
}
.hero-button1:hover {
    background-color: aliceblue;
    transform: scale(1.05);
}

.hero-text1 {
    font-size: 80px;
    font-weight: bold;
    color: rgb(224, 220, 220);
   
}
.hero-text2 {
    font-size: 80px;
    font-weight: bold;
    color: #24b45b;
}

.hero-text1:hover {
  color: #ffeb3b;     
  transform: scale(1.05);
}

.hero-text2:hover {
  color: #00bcd4;
  transform: scale(1.05);
}
.hero-text3 {
    font-size: 20px;
    color: white;
    margin-top: 20px;
     max-width: 50%;  
  margin: 0 auto;
  line-height: 1.6;
  word-wrap: break-word;
  overflow-wrap: break-word;
   margin-bottom: 20px;
}
.hero-button2 {
  padding: 10px 20px;
    background-color: #24b45b;
    color: rgb(222, 220, 220);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    gap: 4px;
     margin-bottom: 20px;
}
.image-arrowright {
  height: auto;
  width: 16px;
  font-weight: bold;
  margin-left: 8px;
}
.hero-button2:hover {
    background-color: rgb(6, 99, 6);
    transform: scale(1.05);
}
.hero-button3 {
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(238, 231, 231);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 15px;
    font-weight: bold;
}
.midea-logo{
  width: 20px;
  height: auto;
  vertical-align: middle;
  margin-right: 8px;
   filter: brightness(0) invert(1);
   font-weight: bold;
}


.hero-button3:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}
.section2 {
 margin: 40px auto;
 display: block;
 width: 100%;
}
.section2 h1 {
  text-align: center;
  font-size: 50px;

}
.section2 p {
  text-align: center;

  color: #555;
  font-weight: normal;
  font-size: 17px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 40px 0;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.card-circle {
  width: 60px;
  height: 60px;
  background-color: #F95555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px auto;
}
.card-logo {
   width: 40px;
  height: 40px;
  object-fit: contain;
  margin-bottom: 15px;
  fill: crimson;
}
.card h3 {
  margin-bottom: 12px;
  font-size: 1.8rem;
  color: #333;
}

.card p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.4;
}

.section3 {
  display: grid;
  gap: 20px;
  margin: 40px auto;
  font-weight: bold;
}
.section3 h3 {
  color: #164a2a; 
}
.section3 h1 {
  font-size: 57px;
}
.section3 p {
  font-size: 18px;
  color: #555;
  max-width: 700px;
}
.section3-list li {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 15px;
}
.section4 {
  max-width: 1400px;
  margin: 80px auto;
  padding: 40px 30px;
  border: 2px solid #e5e7eb; 
  border-radius: 16px;       
  text-align: center;
  background-color: #ebe5e5;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  font-weight: bold;
}

.section4 h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.section4 p {
  font-size: 18px;
  color: #555;
  margin-bottom: 15px;
  max-width: 600px;
  margin: 0 auto 30px auto;
}
 .footer {
  background-color: #001931;
  font-weight: bold;
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;

}
.footer-container {
  position: relative; 
  width: 100%;
  height: 300px;    
}

.footer-logo {
  position: absolute;
  left: 100px;     
  top: 90px;        
    width: 140px;
}
.footer-right {
  position: absolute;
  top: 95px;  
  right: 200px;     
  display: grid;
  row-gap: 20px; 
}

.footer-right h3 {
  color: #ffffff;
  font-size: 23px;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  column-gap: 12px;
}

.social-links li img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  filter: brightness(2) invert(1);
}
.footer-bottom {
 
  bottom: 15px;      
  left: 50%;
  width: 100%;
  text-align: center;
}
footer hr {
  position: absolute;
  top: 80%;
  height: 1.5px;
  width: 85%;         
  margin: 0 auto; 
   left: 120px;
  right: 120px;
  border: none;
  background-color: #3e4964;
}

.footer-bottom {
  position: absolute;
  bottom: 25px;
  left: 0%;
  width: 100%;
  text-align: center;
}
.footer-bottom p {
  color: #ece6e6;
  font-size: 16px;
}